/**********************************
GENERAL
***********************************/

body {
  font-family: Georgia, serif;
}


/**********************************
HEADING
***********************************/

header h1 {
  margin: 20px 0 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  font-family: Menlo, sans-serif;
}

/**********************************
Body
***********************************/

.profile-photo {
  display: block;
  margin: 30px auto;
}

.intro {
  padding: 0 20px;
  font-size: 1.20em;
}

.intro p {
  line-height: 27px;
}

/**********************************
COLORS
***********************************/
body {
  color: #444;
}

a, a:visited {
  color: #fc3300;
}
