@font-face {
  font-family: 'Cardo';
  src: url('/assets/fonts/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('/assets/fonts/LiberationMono-Regular.ttf');
}

.home {
  padding-top: 3em;
}

.post-list-item {
  margin-bottom: 1.5em;
  font-family: 'Cardo';
}

.post-list-item span {
  font-size: 1em;
  width: 25%;
  display: block;
  float: left;
  color: #747474;
}

@media screen and (max-width:767px) {
  .post-list-item span {
    display: none;
  }
}

.post-list-item a {
  font-size: 1.2em;
  color: #111;
  display: block;
}
